<div class="breadcrumb-container">
	<ul class="breadcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li><a href="{EQDKP_ROOT_PATH}plugins/feedposter/admin/manage_feeds.php{SID}">{L_feedposter}: {L_fp_manage_feeds}</a></li>
		<li class="current"><a>{FEEDNAME}</a></li>
	</ul>
	<div class="clear"></div>
</div>

		<div class="infobox infobox-large infobox-blue clearfix">
			<i class="fa fa-info-circle fa-4x pull-left"></i> {L_fp_feed_info}
		</div>
		<br />

<form action="{ACTION}&amp;feed={FEED_ID}" method="post">
		
	<fieldset class="settings">
	<legend>{L_fp_manage_feeds}: {FEEDNAME}</legend>
		<dl>
			<dt><label>{L_name}:</label></dt>
			<dd><input name="name" type="text" class="input" id="name" value="{FEED_NAME}" style="width:95%;" required="required"/></dd>
		</dl>
		<dl>
			<dt><label>{L_fp_url}:</label></dt>
			<dd><input name="url" type="text" class="input" id="url" value="{FEED_URL}" style="width:95%;" required="required"/></dd>
		</dl>
		<dl>
			<dt><label>{L_fp_interval}:</label></dt>
			<dd>{FEED_INTERVAL}</dd>
		</dl>
		<dl>
			<dt><label>{L_fp_maxposts}:</label><br /><span>{L_fp_maxposts_help}</span></dt>
			<dd>{FEED_MAXPOSTS} {L_fp_entries}</dd>
		</dl>
		<dl>
			<dt><label>{L_fp_maxlength}:</label><br /><span>{L_fp_maxlength_help}</span></dt>
			<dd>{FEED_MAXLENGTH} {L_fp_chars}</dd>
		</dl>
		<dl>
			<dt><label>{L_fp_remove_html}:</label></dt>
			<dd>{FEED_REMOVE_HTML}</dd>
		</dl>
	</fieldset>

	<fieldset class="settings">
		<legend>{L_fp_article_data}</legend>
		<dl>
			<dt><label>{L_category}:</label></dt>
			<dd>{FEED_CATEGORY}</dd>
		</dl>
		<dl>
			<dt><label>{L_user}:</label></dt>
			<dd>{FEED_USER}</dd>
		</dl>
		<dl>
			<dt><label>{L_tags}:</label></dt>
			<dd><input type="text" name="tags" style="width:95%;" maxlength="255" value="{FEED_TAGS}" class="input" /></dd>
		</dl>
		<dl>
			<dt><label>{L_info_comments}:</label></dt>
			<dd>{FEED_ALLOW_COMMENTS}</dd>
		</dl>
		<dl>
			<dt><label>{L_featured}:</label></dt>
			<dd>{FEED_FEATURED}</dd>
		</dl>
		<dl>
			<dt><label>{L_fp_showdays}:</label><br /><span>{L_fp_showdays_help}</span></dt>
			<dd>{FEED_SHOWDAYS} {L_fp_days}</dd>
		</dl>
	</fieldset>

	<button name="upd" type="submit" class="mainoption" id="update" ><i class="fa fa-check"></i>{L_save}</button>
	<button name="cancel" type="button" class="liteoption" id="cancel" onclick="window.location='manage_feeds.php{SID}'"><i class="fa fa-chevron-left"></i>{L_cancel}</button>
{CSRF_TOKEN}
</form>